@import './../../variables';

.project_page {
  width: 100%;
  display: flex;

  button {
    @include primary-button;
  }

  

  #particles {
    width: 90%;
    background: #2e2e2e;
    height: inherit;

    div {
      height: calc(99vh - #{$navbar-size});
      width: 100%;
    }
  }
}