.fileTree
{
    width: 150px;
    height: 100vh;
    // background-color: grey;
    padding: 15px;
}
.fileTree_header
{
    display: flex;
    font-size: 12px;
}
.fileTree_header button
{
    margin: 3px;
    padding: 3px;
}