@import './../../../variables';

.fileTree {
    width: 10%;
    min-width: 160px;
    height: 100%;
    // background-color: grey;
    padding: 15px;
    min-height: calc(100vh - #{$navbar-size});
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .align {
        top: 0px;
    }
    .files {
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: 'Ubuntu', sans-serif;
        li {
            display: flex; align-items: center; margin-bottom: 3px; cursor: pointer;
            .icon {
                max-width: 15px; 
                max-height: 15px; 
                margin-right: 5px;
            }
       
        }
    }
    .invite-button {
          position: fixed;
          left: 15px;
          bottom: 10px;
        }
    .delete-project {
        background-color: $dark-error;
        position: fixed;
          left: 15px;
          bottom: 50px;
          font-size: 12px;
    }
   

    input {
        @include primary-input;
        font-size: 16px;
        height: 27px;
        background-color: rgb(184, 184, 184);
        color: black;

    }

    form {
        position: absolute;
        display: flex;
        top: 5px;
        left: 125px;
        z-index: 1;
    }
}
// .fileTree_header
// {
//     display: flex;
//     font-size: 12px;
// }
// .fileTree_header button
// {
//     margin: 3px;
//     padding: 3px;
// }
// .files
// {
//     color: white;
// }
// .file
// {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     font-size: 11px;
//     cursor: pointer;
// }