@import './../../variables';

#new-box {
    margin: 5%;

    #add-points {
        background-color: $primary-nav-color;
        border: none;
        margin: 0;

        input {
            width: 90%;
            background-color: rgb(184, 184, 184);
        }
        
    }
    
    .new-box {
        display: flex;
        flex-direction: column;
    }
}

#pending-box {
    margin: 5%;

    #add-points {
        background-color: $primary-nav-color;
        margin: 0;

        input {
            width: 90%;
            
        }
        button {
            background-color: rgb(17, 17, 17);
            color: rgb(163, 163, 163);
        }
    }
    
    .new-box {
        display: flex;
        flex-direction: column;
    }
}

#invite-box {
    position: fixed;
    left: 15px;
    bottom: 10px;
    z-index: 1;

    button {
        @include primary_button
    }
    input {
        @include primary_input;
        background-color: rgb(184, 184, 184);
        color: black;
    }
}