.editor_container {
  width: 80%;
  display: flex;
  flex-direction: column
}
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-family: Courier, monospace;
}
.editor_page
{
  width: 90%;
  display: flex;
}
.console_container
{
  width: 20%;
  color: rgb(32,194,14);
  font-family: Courier, monospace;
  word-wrap: break-word;
  box-shadow: 0px 15px 30px black;
  background-color: black;
  // border-left: 2px solid black;
  z-index: 1
}
.console_padding
{
  padding-left: 10px;
  padding-top: 10px;
}
section h3
{
  margin-bottom: 10px;
  // background-color: grey;
  
}
.editor_buttons
{
  // display: flex;
  // justify-content: flex-end;
  align-items: center;
}
.run
{
  width: 100px;
  margin: 2px;
  padding: 3px;
  color: black;
  background-color: grey;
  border-radius: 3px;
  border: 2px solid black;
  margin-right: 14px;
}
.selectors
{
  margin-left: 15px;
}
.selectors select
{
  margin: 5px;
}