@import './../../variables';

#home-parent-comp {
  text-align: center;
  width: 90%;
  
  button {
    @include primary_button;
  }
  
  input {
    @include primary_input;
  }

  .box-rows {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box {
    @include primary_boxes;
  }
}