$primary-nav-color: rgb(30, 30, 30);
$background-color: rgb(85, 85, 85);
$primary-header-color: rgb(230, 230, 230);
$form-color: rgba(100, 100, 100, 0.5);
$content-container-color: rgb(68, 68, 68);
$default-form-size: 300px;
$form-border: 1px solid rgba(128, 128, 128, 0.5);
$navbar-size: 50px;

%primary-header {
    font-size: 30px;
    font-weight: 400;
    color: $primary-header-color;
    margin: 5px;
}
@mixin primary-header {
    @extend %primary-header;
}

%primary-form {
    width: $default-form-size;
    min-width: $default-form-size;
    background: $form-color;
    border: $form-border;
}
@mixin primary-form {
    @extend %primary-form;
}

::placeholder {
    color: $primary-header-color;
    opacity: .5;
}
%primary-input {
    width: calc(#{$default-form-size} - 100px);
    height: 25px;
    font-size: 15px;
    padding: 3px;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    outline: none;
    background: rgb(130, 130, 130);
    color: $primary-header-color;
}
@mixin primary-input {
    @extend %primary-input;
}

%primary-input-hover {
    background: rgb(117, 117, 117);
}
@mixin primary-input-hover {
    @extend %primary-input-hover;
}

%primary-button {
    width: 100px;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    background: rgb(130, 130, 130);
    color: $primary-header-color;
    outline: none;
}
@mixin primary-button {
    @extend %primary-button;
}

%primary-button-hover {
    background: rgb(100, 100, 100);
}
@mixin primary-button-hover {
    @extend %primary-button-hover
}

%primary-p-tag {
    color: $primary-header-color;
    margin: 5px;
}
@mixin primary-p-tag {
    @extend %primary-p-tag;
}

%primary-a-tag {
    color: rgb(0, 144, 228);
    outline: none;
}
@mixin primary-a-tag {
    @extend %primary-a-tag;
}

%primary-a-tag-hover {
    color: rgb(0, 115, 182);
}
@mixin primary-a-tag-hover {
    @extend %primary-a-tag-hover;
}