@import './variables';

#app-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: $default-form-size;
  min-height: 100vh;
  background: $background-color;
}
