@import './variables';

#app-parent-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $default-form-size;
  height: 100%;
  background: $background-color;
}

#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $content-container-color;
  // margin-left: 10%;
  width: 100%;
  min-height: calc(100vh - #{$navbar-size});
}